<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZakQRnmqPf_qAPnXDsCx_QErkZA4dbRA</string>
	<key>GCM_SENDER_ID</key>
	<string>472661769323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fazm.desktop-dev</string>
	<key>PROJECT_ID</key>
	<string>fazm-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>fazm-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472661769323:ios:8cca74523f93ea5b99852e</string>
</dict>
</plist>